
<div class="page-header">
	<h1>Register</h1>
</div>

<form class="form-horizontal" role="form" method="POST" action="/register">
	<div class="form-group">
		<label for="inputEmail" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="inputEmail" name="email" value="" placeholder="Email">
		</div>
	</div>
	<div class="form-group">
		<label for="inputUsername" class="col-sm-2 control-label">Username</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="inputUsername" name="username" value="" placeholder="Username">
		</div>
	</div>
	<div class="form-group">
		<label for="inputPassword" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-5">
			<input type="password" class="form-control" id="inputPassword" name="password" value="" placeholder="Password">
		</div>
	</div>
	<div class="form-group">
		<label for="inputConfirmPassword" class="col-sm-2 control-label">Confirm Password</label>
		<div class="col-sm-5">
			<input type="password" class="form-control" id="inputConfirmPassword" name="confirm_password" value="" placeholder="Confirm Password">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-5">
			<button type="submit" class="btn btn-default">Register</button>
		</div>
	</div>
</form>